<!-- <div class="card">
  <div class="card-body"> -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="update-employee-title">Update Employee</h4>
    <button type="button" class="close" aria-label="close" (click)="modal.dismiss('Cross click')">
     <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <form novalidate>
      
    <div class="form-group">
          <label class="col-md-4">Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="employee.name" #name="ngModel" [pattern]="'^[a-z A-Z]+'" minlength="3" required>
     </div>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Person Name is required.
          </div>
          <div *ngIf="name.errors.pattern">
            Name takes only alphabets.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be atleast 3 characters in length.
      </div>
        </div>
        <div class="form-group">
          <label class="cold-md-4">Department</label>
          <select [(ngModel)]="employee.department._id" name="department" #department="ngModel" required>
          <option *ngFor="let department of departments" [value]="department._id" >{{department.name}}</option>
          </select>
        </div>
  
        <div *ngIf="department.invalid && (department.dirty || department.touched)" class="alert alert-danger">
          <div *ngIf="department.errors.required">
            department is required.
          </div>
        </div>
  
        <div class="form-group">
          <label class="col-md-4">age</label>
          <input type="text" class="form-control" name="age" [(ngModel)] = "employee.age" #age="ngModel" pattern="^([2-5]\d|18|19|60)" required/>
        </div>
        <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger">
          <div *ngIf="age.errors.required">
            age is required.
          </div>
          <div *ngIf="age.errors.pattern">
            age must be between 18 to 60.
          </div>
        </div>
  
        <div class="form-group">
          <label class="col-md-4">Gender</label>
          <br>
          <select [(ngModel)]="employee.gender" name="gender" #gender="ngModel" required>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        </div>
        <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">
          <div *ngIf="gender.errors.required">
            gender is required.
          </div>
        </div>
  </form>

    <div class="modal-footer">
      <button  type="button" class="btn btn-outline-dark btn-primary" (click)="updateEmployee()" [disabled]=" name.invalid || gender.invalid || department.invalid || age.invalid">
          Save</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Edit</button>
